* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    vertical-align: top;

}

ul {
    padding: 0;
}

p {
    font-size: 16px;
}

a {
    text-decoration: none;
    font-size: 14px;

}

li {
    list-style: none;
}

body, html {
    height: 100%;

}

.main-wrapper-content {
    height: 100%;
}

.logo-cat {
    width: 50px;
    height: 50px;
    opacity: 0.9;
}
.cart {
    width: 40px;
    height: 40px;
    padding: 2px;

}
.cart:hover{
    background-color: rgba(255,255,255, 0.3);
    border-radius: 5px;
}

.custom-search {
    border: unset;
}

.custom-search:hover {
    background-color: unset;
    border: solid 1px #ffffff;
    margin: -1px;
}

.bg-yellow-custom {
    background-color: #ffc107;
}

.wrapper-footer {
    background-color: #333;
    color: #fff;
    padding-top: 20px;
    border: none;

}

.wrapper-footer li {
    margin-bottom: 20px;
}

.wrapper-footer li a {
    color: #e4e4e4;
    text-align: left;


}
.footer-low-writing{
    width: 100%;
    text-align: center;
    font-size: 11px;
    opacity: 0.7;
    letter-spacing: 2px;
    padding-bottom: 15px;
}


.section-decoration{
    display: block;
    width: 100%;
    margin-bottom: -5px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
.section-decoration-120{
    height: 120px;
    margin-top: -5px;
}
.section-decoration-50{
    height: 50px;
    margin-top: -5px;
}
.underline-word{
    position: relative;
}
.underline-word:before{
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    background-color: #e63939;
    height: 1px;
    bottom: 0;
    left: 0;
    background-repeat: no-repeat;

}
.go-in-rocket{
    position: relative;
    height: 100%;


}
.go-in-rocket:before{
    background-image: url(../img/go-in-rocket.png);
    background-position: center;
    background-size:contain;
    content: "";
    display: block;
    position: absolute;
    width: 130px;
    height: 65px;
    background-repeat: no-repeat;
    left:40px;
    top: 0px;
    z-index: 1;

}
.burger-go-background{
    position: relative;
    z-index: 2;
}

.burger-go-background:before{
    background-image: url(../img/burger-go.png);
    background-position: center;
    background-size:contain;
    content: "";
    display: block;
    position: absolute;
    width: 100px;
    height: 100px;
    background-repeat: no-repeat;
    right:0;
    bottom: -24px;
    z-index: -2;
}

.direction-col {
    position: relative;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    max-width: 150px;
    width: 100%;
    margin-bottom: 30px;
}
.restaurant-icon {
    border-radius: 50%;

}
.wrapper-content{
    position: relative;
    width: 100%;
}
.wrapper-content-yellow{
    background-color: #ffc107;
}
.cat-on-delivery{
    display: block;
    max-width: 300px;
    width: 100%;
    margin: 0 auto;
}

.icon-title {
    position: absolute;
    display: block;
    bottom: 0;
    left: 25%;
    color: #333;
    font-size: 18px;
    background: #ffc107;
    padding: 0px 4px;
    border-radius: 5px;
    font-weight: bold;

}

.icon-reference {
    position: absolute;
    border-radius: 50%;
    border: 3px solid rgba(255, 193, 7, 0.5);
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 10;
    transition: 0.3s ease-in-out;
}

.icon-reference:hover {
    left: -3px;
    right: -3px;
    top: -3px;
    bottom: -3px;
    border: 4px solid rgba(255, 193, 7, 0.9);
    transition: 0.3s ease-in-out;
}
.navbar-dark .navbar-toggler {
    color: rgba(255,255,255,.55);
    border-color: rgba(3,3,3,.1);
}

.roll-up {
    display: none;
    position: fixed;
    right: 20px;
    top: 75vh;
    z-index: 50;
    width: 40px;
    height: 80px;


}
.roll-up-button{
    width: 40px;
    height: 80px;
    opacity: 0.9;

}
.roll-up:hover {
     cursor: pointer;
 }

.background-yellow{

}
.margin-bottom-hidden{
    padding-bottom: 15px;
    margin-bottom: -40px;
}
.form-control-custom-search{
    max-width: 200px;
    width: 100%;
    padding: 0 15px;
    line-height: unset;
    font-size: 14px;
    font-style: italic;
    letter-spacing: 1px;
    opacity: 0.7;

}

.navbar-toggler{
    margin-left: auto;
    margin-right: 15px;
}