{{template "base" .}}

{{define "content" }}
<div class="container">
    <form method="post" action="/order/create">
        <div class="form-group">
            <label for="prodName">Product</label>
            <input type="text" class="form-control" id="prodName" name="prodName" >
        </div>
        <div class="form-group">
            <label for="price">Price</label>
            <input type="number" class="form-control" id="price"  name="price">
        </div>
        <div class="form-group">
            <label for="userName">User Name</label>
            <input type="text" class="form-control" id="userName"  name="userName">
        </div>
        <div class="form-group">
            <label for="phone">Phone</label>
            <input type="text" class="form-control" id="phone"  name="phone">
        </div>
        <div class="form-group">
            <label for="email">Email address</label>
            <input type="email" class="form-control" id="email" placeholder="name@example.com" name="email">
        </div>



        <button type="submit" class="btn btn-primary">Sign in</button>
    </form>
</div>


{{end}}